.product-block {
  width: 250px;
  padding-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(to bottom, $gray 50%, transparent 50%);
  background-position: 0% -101%;
  background-size: 100% 200%;
  transition: transform 0.2s, background-position 0.3s linear;

  &:hover {
    transform: scale(1.07);
    background-position: 0% -200%;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  &__image {
    width: 250px;
    height: 250px;
  }

  &__title {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: $gray-dark;
  }

  &__bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }

  &__price {
    font-size: 17px;
    font-weight: 700;
  }
}
